
.clear{
	clear: both;
}

menu{
	padding: 0px;
	margin: 0px;
}

a[href]{
	color: magenta;
}

a[href]:hover{
	text-decoration: none;
}

html{
	text-align: center;
	color: #333;
	/* font-family: arial; */
}

.wrapper{
	width: 960px;
	margin: auto;
	text-align: left;
}

.content{
	position: relative;
}

header{
	padding-top: 60px;
	position: relative;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 20px;
}

h1{
	font-size: 32px;
	padding-left: 10px;
}

h2{
	font-size: 22px;
	padding: 10px;
}

header menu > ul{
	position: absolute;
	right: 0px;
	z-index: 1;
}

header menu ul > li{
	float: left;
}

header menu ul li ul{
	display: none;
}

header menu ul li ul li{
	float: none;
}

header menu ul li:hover a{
	background: #eee;
}

header menu ul > li:hover ul{
	display: block;
}

header menu ul li a{
	display: block;
	padding: 10px;	
}

header menu ul li li a{
	background: #eee;
}

header menu ul ul{
	position: absolute;
}


article{
	min-height: 350px;
}

#tracks
{
	padding-top: 10px;
	padding-left: 10px;
}

#tracks li{
	float: left;
	width: 20%;
	padding-bottom: 10px;
}

#tracks li p{
	height: 188px;
	background-color: #eee;
	margin-right: 10px;
	background-size: cover;
	position: relative;
}

#tracks li p span{
	display: block;
}

#tracks li p span.number{
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 34px;
	background: #333;
	color: #fff;
	text-align: center;
}

#tracks li p span.info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	text-align: center;
	text-align: left;
}

#tracks li p span.info span{
	padding: 8px;
}

#tracks li p span.info span:first-child{
	padding-bottom: 0px;
}

#tracks li p span.info span em{
	display: block;
	width: 100%;
	height: 18px;
	overflow: hidden;
	position: relative;
}

#tracks li p span.info span.artist em{
	font-weight: bold;
}

footer{
	padding: 10px;
	padding-bottom: 50px;
	border-top: 1px dotted #ccc;
	text-align: right;
}


#request{
	position: relative;
	padding: 10px;
	border-bottom: 1px dotted #ccc;	
}

#request form input{
	border: solid 1px #ccc;
	padding: 5px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



/****** settings **********/


.settings{
	position: fixed;
    /* bottom: -44px; */
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-right: 25px;
    
    -webkit-transition-property: bottom; 
    -webkit-transition-duration: 0.5s; 
    -webkit-transition-timing-function: ease;
       
}

.settings .tab{

    width: 40px;
    height: 30px;
    margin-left: 30px;  
    background: #333 url(../img/settings.png) no-repeat center;
    position: absolute;
    margin-top: -28px;
        
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;    
    
}

.settings .inner
{

     background: #333;
     color: #666;
     text-align: left;
     font-size: 14px;
     padding: 10px;
    
}

.settings li{
	display: inline;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1025px) {
		.wrapper{
			width: auto;
		}
		header{
			padding-top: 10px;
			padding-bottom: 10px;
		}

		aside{
			display: block;
		}

		#tracks li{
			width: 33.3%;
		}

		.settings .tab{
			margin-left: 10px;
		}		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#tracks li{
			width: 50%;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		article{
			border: 0px;
			margin: 0px;
		}
		#tracks li{
			float: none;
			width: auto;
		}
		#tracks li p{
			height: 380px;
		}

	}

